/* // share model box */
.modal {
  position: absolute;
  top: 50%;
  right: 50%;
  transform: translate(50px, 50px);
  width: 20vw;
  background-color: white;
  padding: 20px;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  z-index: 99;
}

.modal-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.modal-header h2 {
  margin: 0;
}
.modal-body {
  display: flex;
  justify-content: space-evenly;
}
.modal-close {
  cursor: pointer;
  border: none;
  background: none;
  font-size: 20px;
  padding: 5px;
}
